@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla/Karla-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Karla';
  src: url('./assets/fonts/Karla/Karla-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-green-200: hsl(148deg, 38%, 91%);
  --color-green-600: hsl(169deg, 82%, 27%);
  --color-red: hsl(0deg, 66%, 54%);
  --color-white: hsl(0deg, 0%, 100%);
  --color-grey-500: hsl(186deg, 15%, 59%);
  --color-900: hsl(187deg, 24%, 22%);

  --font-size: 16px;
  --font-family: 'Karla';
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight-regular);
  color: var(--color-900);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-green-200);

  padding: 2rem 1rem;
}

.contact {
  border-radius: 1rem;
  background-color: var(--color-white);
  width: 400px;
  padding: 1.4rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.contact__title {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-900);
}

.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact__form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__form-group--row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}

.contact__form-label {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  color: var(--color-900);
  cursor: pointer;
}

.contact__form-input {
  font-family: var(--font-family), sans-serif;
  padding: 1rem;
  font: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-grey-500);
}

.contact__form-input:hover,
.contact__form-input:focus {
  border: 1px solid var(--color-green-600);
  outline: none;
}

.contact__form-input--error {
  border: 1px solid var(--color-red);
}

.contact__form-textarea {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-500);
}

.contact__form-textarea:hover {
  border: 1px solid var(--color-green-600);
}

.contact__form-textarea:focus {
  border: 1px solid var(--color-green-600);
  outline: none;
}

.contact__form-textarea--error {
  border: 1px solid var(--color-red);
}

.contact__form-fieldset {
  border: none;

  display: flex;
  gap: 1rem;
  padding: 1rem 0 0 0;
  flex-direction: column;
}

.contact__form-label--required {
  color: var(--color-green-600);
}

.contact__form-label--radio {
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-grey-500);
  cursor: pointer;
  position: relative;
}

.contact__form-label--radio::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 10000;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  left: 1rem;
  top: 1.3rem;
  outline-offset: 2px;
  outline: 1px solid var(--color-grey-500);
  background-color: var(--color-white);
}

.contact__form-radio {
  display: none;
  appearance: none;
  border-radius: 50%;
  height: 0.6rem;
  width: 0.6rem;
  outline-offset: 2px;
  margin: 0 1rem 0 0.5rem;
  outline: 1px solid var(--color-grey-500);
  background-color: var(--color-white);
}

.contact__form-radio:checked {
  background-color: var(--color-green-600);
  outline: 1px solid var(--color-green-600);
}

.contact__form-radio:checked + .contact__form-label--radio {
  background-color: var(--color-green-200);
}

.contact__form-radio:checked + .contact__form-label--radio::before {
  background-color: var(--color-green-600);
  outline: 1px solid var(--color-green-600);
}

.contact__form-label--radio:hover {
  border: 1px solid var(--color-green-600);
}

.contact__form-label--radio:focus {
  border: 1px solid var(--color-green-600);
}

.contact__form-error {
  color: var(--color-red);
  font-size: 0.8rem;
  height: 0.8rem;
}

.contact__form-checkbox {
  cursor: pointer;
  accent-color: var(--color-green-600);
}

.contact__form-submit {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-green-600);
  color: var(--color-white);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  cursor: pointer;
  letter-spacing: 0.05rem;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-size);
}

.modal__container {
  background-color: var(--color-900);
  border-radius: 0.5rem;
  margin: 3rem 1rem;
  width: 475px;
  padding: 1.5rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.modal__heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-white);
}

.modal__title {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

.modal__content {
  color: var(--color-white);
}

@media (min-width: 728px) {
  .contact {
    width: 728px;
  }

  .contact__form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contact__form-group--first-name {
    flex-basis: calc(50% - var(--font-size));
  }

  .contact__form-group--last-name {
    flex-basis: calc(50% - var(--font-size) / 2);
  }

  .contact__form-group--email {
    flex-basis: 100%;
  }

  .contact__form-group--message {
    flex-basis: 100%;
  }

  .contact__form-group--consent {
    flex-basis: 100%;
  }

  .contact__form-fieldset {
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
  }

  .contact__form-label--radio {
    flex-basis: calc(50% - var(--font-size) / 2);
  }

  .contact__form-submit {
    flex-basis: 100%;
  }

  .message-error {
    flex-basis: 100%;
  }
}
